<div class="Section">
  <h3 class="Section_title">
    会社概要
  </h3>
  <ul class="CompanyData">
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">会社名</p>
      <p class="CompanyData_item_body">株式会社カンム</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">設立</p>
      <p class="CompanyData_item_body">2011年1月</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">代表取締役社長</p>
      <p class="CompanyData_item_body">八巻渉</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">取締役</p>
      <p class="CompanyData_item_body">竹谷直彦</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">社外取締役</p>
      <p class="CompanyData_item_body">佐藤裕介</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">社外監査役</p>
      <p class="CompanyData_item_body">永井秀輔</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">資本金</p>
      <p class="CompanyData_item_body">約6億7343万円（資本準備金含む）</p>
    </li>
    <li class="CompanyData_item">
      <p class="CompanyData_item_label">所在地</p>
      <p class="CompanyData_item_body">
        〒106-0032<br /> 東京都港区六本木7-18-18 住友不動産六本木通ビル 12階
      </p>
    </li>
  </ul>
</div>