<div class="Section">
  <h3 class="Section_title">
    採用
  </h3>
  <ul class="Section_contents">
    <li class="Section_item">
      <a class="Section_item_anchor" href="/jobs/designer/">
        <p class="Section_item_label">UI/UXデザイナー</p>
      </a>
    </li>
    <li class="Section_item">
      <a class="Section_item_anchor" href="/jobs/crypto_engineer/">
        <p class="Section_item_label">バックエンドエンジニア（暗号通貨プロジェクト）</p>
      </a>
    </li>
    <li class="Section_item">
      <a class="Section_item_anchor" href="/jobs/front_end_engineer/">
        <p class="Section_item_label">フロントエンドエンジニア</p>
      </a>
    </li>
    <li class="Section_item">
      <a class="PublishedList_item_anchor" href="https://www.wantedly.com/companies/kanmu/info">
        <p class="Section_item_label">&raquo; [参考] 株式会社カンムについて（Wantedly）</p>
      </a>
    </li>
  </ul>
</div>